# Node modules
/node_modules/

# Build output
/dist/

# Quasar CLI
/quasar.conf.js

# IDE and OS-specific files
/.idea/
/.vscode/
/.DS_Store

# Log files
*.log

# Environment files
.env
.env.local
.env.*.local

# Temporary files
*.swp
*.swo

# npm-debug.log
npm-debug.log*

# Yarn lock file
yarn.lock

# OS-specific files
Thumbs.db